.container__header {
  position: relative;
  backdrop-filter: blur(10px);
  transition: width 0.5s;
  background-color: $backlight;
  height: 100%;

  &__blur {
    position: absolute;
    left: 200px;
    width: calc(100dvw - 200px);
    height: 100%;
    display: none;
  }

  &__buttonbox {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50vh - 80px);
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &__button {
      background-color: $backdack;
      width: 30px;
      height: 5px;
      border-radius: 2px;
      transition: all 0.3s;

      &::before,
      &::after {
        content: "";
        background-color: $backdack;
        width: 30px;
        height: 5px;
        border-radius: 2px;
        position: absolute;
        transition: all 0.3s;
      }

      &::after {
        transform: translateY(10px);
      }

      &::before {
        transform: translateY(-10px);
      }
    }

    &:hover &__button,
    &:hover &__button::after,
    &:hover &__button::before {
      background-color: $activebutton;
    }
  }

  &__logobox {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: $backdack;
    position: absolute;
    bottom: 0;
    padding-top: 10px;

    &__logo {
      position: absolute;
      right: 0;
      background-image: url("../img/logo.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 60px;
      height: 60px;
      margin: 10px;
    }

    &__corp {
      position: absolute;
      top: 23px;
      left: 13px;
      color: $backlight;
      font-size: 20px;
      transform: translateX(-120px);
      transition: transform 0.4s;
      font-weight: 600;
    }
  }

  &__menu {
    position: relative;
    top: calc(50% - 160px);
    width: 130px;
    height: 200px;
    padding-left: 10px;
    transform: translateX(-200px);
    transition: transform 0.4s;

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      a {
        color: $backdack;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          color: $activebutton;
          border-bottom: 1px solid $activebutton;
        }
      }
    }
  }
}

.container__header-active {
  width: 200px !important;
}

.container__header__buttonbox__button-active {
  transform: rotate(45deg);

  &::after {
    transform: rotate(-90deg);
  }

  &::before {
    transform: translate(0);
    visibility: hidden;
  }
}

.container__header__logobox__corp-active {
  transform: translateX(0);
  transition: transform 0.5s;
}

.container__header__menu-active {
  transform: translateX(0);
  transition: transform 0.5s;
}

.container__header__blur-active {
  display: block !important;
}

@media (max-width: 767px) {
  .container__header {
    &__blur {
      display: none;
    }

    &__buttonbox {
      top: 20px;
      right: -60px;
    }
  }

  .container__header-active {
    width: 100% !important;
  }

  .container__header__buttonbox__button-active {
    transform: translateX(-80px) rotate(45deg);

    &::after {
      transform: rotate(-90deg);
    }

    &::before {
      transform: translate(0);
      visibility: hidden;
    }
  }

  .container__header__menu {
    width: 80%;
    ul {
      gap: 20px;
      li {
        a {
          font-size: 4vh;
        }
      }
    }
  }

  .container__header__blur-active {
    display: none !important;
  }
}
