@import "./var";
@import "./container.scss";
@import "./_font.scss";

.container__projectspage {
  background-attachment: fixed;

  &__list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:
      calc((100% / 3) + 80px)
      calc((100% / 3) - 40px)
      calc((100% / 3) - 40px);

    article {
      height: 40vh;
      min-height: 250px;
      max-height: 600px;

      div {
        position: relative;
        transition: all 0.3s;

        h1 {
          color: $textlight;
          font-size: 23px;
          text-shadow: 10px 10px 10px $backdack;
          margin-bottom: 20px;
        }

        p {
          visibility: hidden;
          text-align: justify;
        }

        button {
          visibility: hidden;
        }
      }

      &:hover {
        div {
          width: 100%;
          height: 100%;
          background-color: $backdarktr;
          backdrop-filter: blur(5px);
          padding: 5px;

          p {
            visibility: visible;
            color: $textlight;
          }

          button {
            visibility: visible;
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: $backdack;
            background-color: $backlight;
            height: 40px;
            width: 70%;
            max-width: 250px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.3s;
            font-size: 16px;

            &:hover {
              background-color: $backdack;
              color: $textlight;
              transform: translateX(-5px) translateY(-5px);
              box-shadow: 10px 10px 10px $backdack;
            }
          }
        }
      }
    }

    &__item1 {
      grid-column: span 2;
      background-image: url("../img/projects/001/1.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 10px 10px 10px 90px;
    }

    &__item2 {
      background-image: url("../img/projects/002/1.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 10px;
    }

    &__item3 {
      background-image: url("../img/projects/003/1.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 10px 10px 10px 90px;
    }

    &__item4 {
      grid-column: span 2;
      grid-row: span 2;
      height: 80vh !important;
      background-image: url("../img/projects/004/1.webp");
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
      padding: 10px;
    }

    &__item5 {
      grid-row: span 2;
      height: 80vh !important;
      background-image: url("../img/projects/005/1.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 10px 10px 10px 90px;
    }

    &__item6 {
      grid-column: span 2;
      background-image: url("../img/projects/006/1.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 10px;
    }
  }
}

.container__popup {
  display: none;
  width: 100%;
  height: 100%;
  background-color: $backdarktr;
  backdrop-filter: blur(2px) grayscale(80%);
  position: fixed;
  top: 0;
  z-index: 100;

  &__closebutton {
    width: 25px;
    height: 5px;
    border-radius: 2px;
    background-color: $textlight;
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
    transform: rotate(-45deg);
    z-index: 101;
    transition: background 0.3s;

    &::before {
      content: "";
      transform: rotate(90deg);
      width: 25px;
      height: 5px;
      border-radius: 2px;
      background-color: $textlight;
      position: absolute;
      transition: background 0.3s;
    }

    &:hover,
    &:hover::before {
      background-color: $activebutton;
    }
  }

  &__contentbox {
    width: calc(100vh - 100px);
    height: calc(100dvw - 180px);
    margin: 50px 50px 50px 130px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    transform: rotate(-90deg) translateY(calc((100vh - 100px) * (-1)));
    transform-origin: top right;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: $backlight;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $textlight;
      border-radius: 5px;
    }

    &__item {
      display: none;
      flex: none;
      width: 100%;
      height: calc(100vh - 105px);
      text-align: center;
      transform: rotate(90deg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

// .container__popup-active {
//   display: none !important;
// }

@media (max-width: 767px) {
  .container__projectspage__list {
    display: flex;
    flex-direction: column;

    article {
      padding: 10px;
      height: 40vh !important;

      h1 {
        font-size: 23px !important;
        margin: 0;
        text-align: end;
      }

      p {
        font-size: 18px;
      }
    }

    &__item1 {
      h1 {
        text-align: end;
      }
    }

    &__item6 {
      grid-column: span 1;
    }
  }

  .container__projectspage__list__button {
    width: calc(100% - 20px) !important;
    max-width: 800px !important;
    height: 50px !important;
    font-size: 23px;
    border-radius: 25px !important;
  }

  .container__popup {
    &__contentbox {
      margin: 10% 5% 0% 5%;
      width: 90%;
      height: 90%;
      transform: rotate(0deg) translateY(0);

      &__item {
        background-size: contain;
        height: 50%;
        transform: rotate(0deg);
      }
    }
  }
}
