@charset "UTF-8";
.container__header {
  position: relative;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: width 0.5s;
  background-color: rgba(234, 225, 213, 0.4);
  height: 100%;
}
.container__header__blur {
  position: absolute;
  left: 200px;
  width: calc(100dvw - 200px);
  height: 100%;
  display: none;
}
.container__header__buttonbox {
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50vh - 80px);
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container__header__buttonbox__button {
  background-color: rgb(24, 21, 39);
  width: 30px;
  height: 5px;
  border-radius: 2px;
  transition: all 0.3s;
}
.container__header__buttonbox__button::before, .container__header__buttonbox__button::after {
  content: "";
  background-color: rgb(24, 21, 39);
  width: 30px;
  height: 5px;
  border-radius: 2px;
  position: absolute;
  transition: all 0.3s;
}
.container__header__buttonbox__button::after {
  transform: translateY(10px);
}
.container__header__buttonbox__button::before {
  transform: translateY(-10px);
}
.container__header__buttonbox:hover .container__header__buttonbox__button, .container__header__buttonbox:hover .container__header__buttonbox__button::after, .container__header__buttonbox:hover .container__header__buttonbox__button::before {
  background-color: rgb(172, 15, 15);
}
.container__header__logobox {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(24, 21, 39);
  position: absolute;
  bottom: 0;
  padding-top: 10px;
}
.container__header__logobox__logo {
  position: absolute;
  right: 0;
  background-image: url("../img/logo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  margin: 10px;
}
.container__header__logobox__corp {
  position: absolute;
  top: 23px;
  left: 13px;
  color: rgba(234, 225, 213, 0.4);
  font-size: 20px;
  transform: translateX(-120px);
  transition: transform 0.4s;
  font-weight: 600;
}
.container__header__menu {
  position: relative;
  top: calc(50% - 160px);
  width: 130px;
  height: 200px;
  padding-left: 10px;
  transform: translateX(-200px);
  transition: transform 0.4s;
}
.container__header__menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container__header__menu ul a {
  color: rgb(24, 21, 39);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.container__header__menu ul a:hover {
  color: rgb(172, 15, 15);
  border-bottom: 1px solid rgb(172, 15, 15);
}

.container__header-active {
  width: 200px !important;
}

.container__header__buttonbox__button-active {
  transform: rotate(45deg);
}
.container__header__buttonbox__button-active::after {
  transform: rotate(-90deg);
}
.container__header__buttonbox__button-active::before {
  transform: translate(0);
  visibility: hidden;
}

.container__header__logobox__corp-active {
  transform: translateX(0);
  transition: transform 0.5s;
}

.container__header__menu-active {
  transform: translateX(0);
  transition: transform 0.5s;
}

.container__header__blur-active {
  display: block !important;
}

@media (max-width: 767px) {
  .container__header__blur {
    display: none;
  }
  .container__header__buttonbox {
    top: 20px;
    right: -60px;
  }
  .container__header-active {
    width: 100% !important;
  }
  .container__header__buttonbox__button-active {
    transform: translateX(-80px) rotate(45deg);
  }
  .container__header__buttonbox__button-active::after {
    transform: rotate(-90deg);
  }
  .container__header__buttonbox__button-active::before {
    transform: translate(0);
    visibility: hidden;
  }
  .container__header__menu {
    width: 80%;
  }
  .container__header__menu ul {
    gap: 20px;
  }
  .container__header__menu ul li a {
    font-size: 4vh;
  }
  .container__header__blur-active {
    display: none !important;
  }
}
.container__main {
  display: grid;
  grid-template-columns: calc(33.333% + 80px) calc(33.333% - 40px) calc(33.333% - 40px);
  grid-template-areas: "home home home" "about partners contacts" "projects projects contacts" "footer footer footer";
  position: relative;
}
.container__main__home {
  grid-area: home;
  height: 100vh;
  min-height: 500px;
  background-image: url("../img/home.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  transition: all 0.3s;
}
.container__main__home__titlebox {
  margin: 170px 20px 20px 100px;
  color: white;
  display: grid;
  grid-template-areas: "design" "gongam";
}
.container__main__home__titlebox #design {
  font-size: 4vh;
  grid-area: design;
  text-align: start;
  text-shadow: 15px 10px 10px rgb(24, 21, 39);
  transform: translateY(40px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.container__main__home__titlebox #gongam {
  font-size: 8vh;
  grid-area: gongam;
  text-align: start;
  text-shadow: 15px 10px 10px rgb(24, 21, 39);
  transform: translateY(40px);
  opacity: 0;
  transition: all 0.8s ease 0.2s;
}
.container__main__home__titlebox ._anim-active {
  transform: translateY(0) !important;
  opacity: 1 !important;
}
.container__main__home__buttonbox {
  position: absolute;
  bottom: 40px;
  left: 100px;
  width: 20dvw;
  max-width: 200px;
  min-width: 150px;
  height: 6vh;
  max-height: 50px;
  min-height: 25px;
  background-color: rgba(24, 21, 39, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 5vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.container__main__home__buttonbox span {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  font-size: 18px;
}
.container__main__home__buttonbox span a {
  color: rgb(234, 225, 213);
}
.container__main__home__buttonbox:hover, .container__main__home__buttonbox:focus, .container__main__home__buttonbox:target {
  background-color: rgba(234, 225, 213, 0.4);
  box-shadow: 10px 10px 10px rgb(24, 21, 39);
  transform: translateX(-5px) translateY(-5px);
}
.container__main__home__buttonbox:hover span a, .container__main__home__buttonbox:focus span a, .container__main__home__buttonbox:target span a {
  color: rgb(24, 21, 39);
}
.container__main__about {
  height: 50vh;
  min-height: 300px;
  grid-area: about;
  background-image: url("../img/about.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px 5px 5px 85px;
}
.container__main__about__titlebox {
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: hidden;
  color: rgb(234, 225, 213);
  transition: all 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container__main__about__titlebox h3 {
  position: relative;
  top: 80%;
  width: 100%;
  height: 40px;
  font-size: 28px;
  margin-bottom: 8px;
  text-shadow: 10px 10px 10px rgb(24, 21, 39);
  color: rgb(24, 21, 39);
  transition: all 0.5s;
}
.container__main__about__titlebox p {
  opacity: 0;
  font-size: 14px;
  text-align: justify;
  transition: all 0.3s;
  margin-bottom: 8px;
}
.container__main__about__titlebox a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(24, 21, 39);
  background-color: rgba(234, 225, 213, 0.4);
  width: 20dvw;
  max-width: 200px;
  min-width: 150px;
  height: 6vh;
  max-height: 50px;
  min-height: 25px;
  border-radius: 7dvw;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.3s;
}
.container__main__about__titlebox a:hover, .container__main__about__titlebox a:focus, .container__main__about__titlebox a:target {
  background-color: rgba(24, 21, 39, 0.6);
  color: rgb(234, 225, 213);
  box-shadow: 5px 5px 10px rgb(24, 21, 39);
  transform: translateX(-3px) translateY(-3px);
}
.container__main__about__titlebox:hover, .container__main__about__titlebox:focus, .container__main__about__titlebox:target {
  background-color: rgba(24, 21, 39, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.container__main__about__titlebox:hover h3, .container__main__about__titlebox:focus h3, .container__main__about__titlebox:target h3 {
  top: 0;
  font-size: 28px;
  color: rgb(234, 225, 213);
}
.container__main__about__titlebox:hover p, .container__main__about__titlebox:focus p, .container__main__about__titlebox:target p {
  opacity: 1;
}
.container__main__about__titlebox:hover a, .container__main__about__titlebox:focus a, .container__main__about__titlebox:target a {
  opacity: 1;
}
.container__main__projects {
  height: 50vh;
  min-height: 300px;
  grid-area: projects;
  background-image: url("../img/projects.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5px;
  transition: background-image 0.3s;
}
.container__main__projects__contentbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px;
}
.container__main__projects__contentbox h3 {
  width: 100%;
  font-size: 28px;
  text-align: end;
  text-shadow: 10px 10px 10px rgb(24, 21, 39);
  color: rgb(234, 225, 213);
  margin-top: 2%;
}
.container__main__projects__contentbox a {
  position: absolute;
  bottom: 20px;
  left: 100px;
  color: rgb(234, 225, 213);
  width: 20dvw;
  max-width: 200px;
  min-width: 150px;
  height: 6vh;
  max-height: 50px;
  min-height: 25px;
  border-radius: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  font-size: 16px;
  background-color: rgba(24, 21, 39, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transform: translateX(-500px);
}
.container__main__projects__contentbox a:hover, .container__main__projects__contentbox a:focus, .container__main__projects__contentbox a:target {
  background-color: rgba(234, 225, 213, 0.4);
  color: rgb(24, 21, 39);
  box-shadow: 5px 5px 10px rgb(24, 21, 39);
  transform: translateX(-3px) translateY(-3px);
}
.container__main__projects__contentbox:hover a, .container__main__projects__contentbox:focus a, .container__main__projects__contentbox:target a {
  transform: translateX(0);
}
.container__main__partners {
  height: 50vh;
  min-height: 300px;
  grid-area: partners;
  background-image: url("../img/partners.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5px;
  display: flex;
}
.container__main__partners__contentbox {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: hidden;
  transition: all 0.7s;
}
.container__main__partners__contentbox h3 {
  position: relative;
  top: 84%;
  width: 100%;
  height: 40px;
  font-size: 28px;
  margin-bottom: 8px;
  text-shadow: 10px 10px 10px rgb(24, 21, 39);
  transition: all 0.5s;
  color: rgb(234, 225, 213);
}
.container__main__partners__contentbox__list {
  width: 100%;
  height: 65%;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 0.3s;
}
.container__main__partners__contentbox__list div {
  width: 30%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__main__partners__contentbox__list__item1 {
  background-image: url("../img/samsung.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.container__main__partners__contentbox__list__item2 {
  background-image: url("../img/lg.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.container__main__partners__contentbox__list__item3 {
  background-image: url("../img/miele.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.container__main__partners__contentbox__list__item4 {
  background-image: url("../img/mcm.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.container__main__partners__contentbox__list__item5 {
  background-image: url("../img/smeg.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.container__main__partners__contentbox__list__item6 {
  background-image: url("../img/bosch.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.container__main__partners__contentbox:hover, .container__main__partners__contentbox:focus, .container__main__partners__contentbox:target {
  background-color: rgba(234, 225, 213, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.container__main__partners__contentbox:hover h3, .container__main__partners__contentbox:focus h3, .container__main__partners__contentbox:target h3 {
  color: rgb(24, 21, 39);
  top: 0;
}
.container__main__partners__contentbox:hover div, .container__main__partners__contentbox:focus div, .container__main__partners__contentbox:target div {
  display: flex;
}
.container__main__contacts {
  grid-area: contacts;
  height: 100vh;
  min-height: 600px;
  background-image: url("../img/contacts.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5px;
}
.container__main__contacts__contentbox {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(234, 225, 213);
  transition: all 0.5s;
}
.container__main__contacts__contentbox div {
  opacity: 0;
}
.container__main__contacts__contentbox h3 {
  font-size: 28px;
  text-shadow: 10px 10px 10px rgb(24, 21, 39);
  width: 100%;
}
.container__main__contacts__contentbox__content {
  font-size: 14px;
  text-align: start;
  width: 100%;
}
.container__main__contacts__contentbox__content a {
  color: rgb(234, 225, 213);
  transition: 0.3s;
}
.container__main__contacts__contentbox__content a:hover {
  color: rgb(172, 15, 15);
}
.container__main__contacts__contentbox__media {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.container__main__contacts__contentbox__media a {
  cursor: pointer;
  transition: all 0.3s;
}
.container__main__contacts__contentbox__media a svg {
  fill: transparent;
  border-radius: 10px;
}
.container__main__contacts__contentbox__media a:hover, .container__main__contacts__contentbox__media a:focus, .container__main__contacts__contentbox__media a:target {
  filter: drop-shadow(10px 10px 10px rgb(24, 21, 39));
  transform: translateX(-5px) translateY(-5px);
}
.container__main__contacts__contentbox__media a:hover svg, .container__main__contacts__contentbox__media a:focus svg, .container__main__contacts__contentbox__media a:target svg {
  fill: rgb(172, 15, 15);
}
.container__main__contacts__contentbox__map {
  width: 100%;
  height: 50%;
  position: relative;
}
.container__main__contacts__contentbox__map__blur {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: grayscale(80%);
          backdrop-filter: grayscale(80%);
  transition: all 0.3s;
}
.container__main__contacts__contentbox__map__blur:hover, .container__main__contacts__contentbox__map__blur:focus, .container__main__contacts__contentbox__map__blur:target {
  -webkit-backdrop-filter: grayscale(0);
          backdrop-filter: grayscale(0);
}
.container__main__contacts__contentbox:hover, .container__main__contacts__contentbox:focus, .container__main__contacts__contentbox:target {
  background-color: rgba(24, 21, 39, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.container__main__contacts__contentbox:hover div, .container__main__contacts__contentbox:focus div, .container__main__contacts__contentbox:target div {
  opacity: 1;
}
.container__main__contacts__contentbox:hover svg, .container__main__contacts__contentbox:focus svg, .container__main__contacts__contentbox:target svg {
  fill: rgb(234, 225, 213);
}
.container__main__footer {
  height: 100px;
  grid-area: footer;
  padding: 10px 5px 10px 85px;
}
.container__main__footer__contentbox {
  display: grid;
  grid-template-columns: 15% 40% 40%;
  grid-template-rows: 90% 10%;
  grid-template-areas: "logo menu menu" "copy copy copy";
  gap: 10px;
}
.container__main__footer__contentbox__logo {
  grid-area: logo;
  color: rgba(234, 225, 213, 0.4);
  display: flex;
  justify-content: start;
  align-items: end;
}
.container__main__footer__contentbox__media {
  grid-area: media;
}
.container__main__footer__contentbox__copy {
  grid-area: copy;
  text-align: center;
  color: rgba(234, 225, 213, 0.4);
  font-size: 12px;
}
.container__main__footer__contentbox__menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container__main__footer__contentbox__menu a {
  color: rgba(234, 225, 213, 0.4);
  font-size: 14px;
  transition: all 0.3s;
}
.container__main__footer__contentbox__menu a:hover, .container__main__footer__contentbox__menu a:focus, .container__main__footer__contentbox__menu a:target {
  color: rgb(234, 225, 213);
  border-bottom: 1px solid rgb(234, 225, 213);
}

@media (max-width: 767px) {
  .container__main {
    grid-template-columns: 1fr;
    grid-template-areas: "home" "about" "partners" "projects" "contacts" "footer";
  }
  .container__main__home {
    background-size: 1500px;
    background-position: top;
  }
  .container__main__home__titlebox {
    font-size: 23px;
    margin: 150px 0 50px 0;
  }
  .container__main__home__titlebox h1 {
    width: 100%;
    text-align: center !important;
  }
  .container__main__home__buttonbox {
    left: calc(50% - 20dvw);
  }
  .container__main__about {
    padding: 5px;
  }
  .container__main__about ._anim-active {
    background-color: rgba(24, 21, 39, 0.6);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .container__main__about ._anim-active h3 {
    top: 0;
    font-size: 28px;
    color: rgb(234, 225, 213);
  }
  .container__main__about ._anim-active p {
    opacity: 1;
  }
  .container__main__about ._anim-active a {
    opacity: 1;
  }
  .container__main__partners__contentbox__list {
    margin-top: 5vh;
  }
  .container__main__partners ._anim-active {
    background-color: rgba(234, 225, 213, 0.4);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .container__main__partners ._anim-active h3 {
    color: rgb(24, 21, 39);
    top: 0;
  }
  .container__main__partners ._anim-active div {
    display: flex;
  }
  .container__main__projects__contentbox a {
    left: calc(50% - 20dvw);
  }
  .container__main__projects ._anim-active a {
    transform: translateX(0);
  }
  .container__main__contacts {
    height: 85vh;
  }
  .container__main__contacts__contentbox__map {
    height: 70%;
  }
  .container__main__contacts ._anim-active {
    background-color: rgba(24, 21, 39, 0.6);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .container__main__contacts ._anim-active div {
    opacity: 1;
  }
  .container__main__contacts ._anim-active svg {
    fill: rgb(234, 225, 213);
  }
  .container__main__footer {
    padding: 10px 5px;
  }
  .container__main__footer__contentbox {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "logo menu" "copy copy";
  }
  .container__main__footer__contentbox__menu {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
  }
  .container__main__footer__contentbox__menu a {
    display: inline;
    font-size: 10px;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  list-style-type: none;
}

.container__header {
  width: 80px;
  height: 100vh;
  position: fixed;
  z-index: 100;
}
.container__main {
  background-color: rgb(24, 21, 39);
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .container__header {
    width: 0;
  }
}
@font-face {
  font-family: Bradleys;
  src: url("./font/Bradleys.ttf") format(opentype);
}
.container__projectspage {
  background-attachment: fixed;
  background-color: rgb(24, 21, 39);
}
.container__projectspage__list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: calc(33.3333333333% + 80px) calc(33.3333333333% - 40px) calc(33.3333333333% - 40px);
}
.container__projectspage__list article {
  height: 40vh;
  min-height: 250px;
}
.container__projectspage__list article div {
  position: relative;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease 0.5s;
}
.container__projectspage__list article div h1 {
  color: rgb(234, 225, 213);
  font-size: 23px;
  text-shadow: 10px 10px 10px rgb(24, 21, 39);
  margin-bottom: 20px;
}
.container__projectspage__list article div p {
  opacity: 0;
  text-align: justify;
  transition: all 0.3s ease 0.5s;
}
.container__projectspage__list article div button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  transition: all 0.3s ease 0.5s;
}
.container__projectspage__list article:hover div, .container__projectspage__list article:focus div, .container__projectspage__list article:target div {
  width: 100%;
  height: 100%;
  background-color: rgba(24, 21, 39, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 5px;
}
.container__projectspage__list article:hover div p, .container__projectspage__list article:focus div p, .container__projectspage__list article:target div p {
  opacity: 1;
  color: rgb(234, 225, 213);
}
.container__projectspage__list article:hover div button, .container__projectspage__list article:focus div button, .container__projectspage__list article:target div button {
  opacity: 1;
  color: rgb(24, 21, 39);
  background-color: rgba(234, 225, 213, 0.4);
  height: 40px;
  width: 70%;
  max-width: 250px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 16px;
}
.container__projectspage__list article:hover div button:hover, .container__projectspage__list article:hover div button:focus, .container__projectspage__list article:hover div button:target, .container__projectspage__list article:focus div button:hover, .container__projectspage__list article:focus div button:focus, .container__projectspage__list article:focus div button:target, .container__projectspage__list article:target div button:hover, .container__projectspage__list article:target div button:focus, .container__projectspage__list article:target div button:target {
  background-color: rgb(24, 21, 39);
  color: rgb(234, 225, 213);
  transform: translateX(-5px) translateY(-5px);
  box-shadow: 10px 10px 10px rgb(24, 21, 39);
}
.container__projectspage__list__item1 {
  grid-column: span 2;
  background-image: url("../img/projects/001/1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 90px;
}
.container__projectspage__list__item2 {
  background-image: url("../img/projects/002/1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}
.container__projectspage__list__item3 {
  background-image: url("../img/projects/003/1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 90px;
}
.container__projectspage__list__item4 {
  grid-column: span 2;
  grid-row: span 2;
  height: 80vh !important;
  background-image: url("../img/projects/004/1.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 10px;
}
.container__projectspage__list__item5 {
  grid-row: span 2;
  height: 80vh !important;
  background-image: url("../img/projects/005/1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 90px;
}
.container__projectspage__list__item6 {
  grid-column: span 2;
  background-image: url("../img/projects/006/1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}
.container__projectspage__list__item7 {
  grid-column: span 2;
  background-image: url("../img/projects/007/1_Post.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 90px;
}
.container__projectspage__list__item8 {
  grid-row: span 2;
  height: 80vh !important;
  background-image: url("../img/projects/008/241220_js1_099.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}
.container__projectspage__list__item9 {
  grid-row: span 2;
  height: 80vh !important;
  background-image: url("../img/projects/009/250210_js1_244 복사.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 90px;
}
.container__projectspage__list__item10 {
  background-image: url("../img/projects/010/7_Post.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}
.container__projectspage__list__item11 {
  grid-column: span 2;
  background-image: url("../img/projects/011/IMG_9529.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}

.container__popup {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 21, 39, 0.6);
  -webkit-backdrop-filter: blur(2px) grayscale(80%);
          backdrop-filter: blur(2px) grayscale(80%);
  position: fixed;
  top: 0;
  z-index: 100;
}
.container__popup__closebutton {
  width: 25px;
  height: 5px;
  border-radius: 2px;
  background-color: rgb(234, 225, 213);
  position: absolute;
  right: 15px;
  top: 20px;
  cursor: pointer;
  transform: rotate(-45deg);
  z-index: 101;
  transition: background 0.3s;
}
.container__popup__closebutton::before {
  content: "";
  transform: rotate(90deg);
  width: 25px;
  height: 5px;
  border-radius: 2px;
  background-color: rgb(234, 225, 213);
  position: absolute;
  transition: background 0.3s;
}
.container__popup__closebutton:hover, .container__popup__closebutton:hover::before, .container__popup__closebutton:focus, .container__popup__closebutton:focus::before, .container__popup__closebutton:target, .container__popup__closebutton:target::before {
  background-color: rgb(172, 15, 15);
}
.container__popup__contentbox {
  width: calc(100vh - 100px);
  height: calc(100dvw - 180px);
  margin: 50px 50px 50px 130px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  transform: rotate(-90deg) translateY(calc((100vh - 100px) * -1));
  transform-origin: top right;
}
.container__popup__contentbox::-webkit-scrollbar {
  width: 5px;
}
.container__popup__contentbox::-webkit-scrollbar-track {
  background: rgba(234, 225, 213, 0.4);
}
.container__popup__contentbox::-webkit-scrollbar-thumb {
  background-color: rgb(234, 225, 213);
  border-radius: 5px;
}
.container__popup__contentbox__item {
  display: none;
  flex: none;
  width: 100%;
  height: calc(100vh - 105px);
  text-align: center;
  transform: rotate(90deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .container__projectspage__list {
    display: flex;
    flex-direction: column;
  }
  .container__projectspage__list article {
    padding: 10px;
    height: 40vh !important;
  }
  .container__projectspage__list article h1 {
    font-size: 23px !important;
    margin: 0;
    text-align: end;
  }
  .container__projectspage__list article p {
    font-size: 18px;
  }
  .container__projectspage__list__item1 h1 {
    text-align: end;
  }
  .container__projectspage__list div {
    grid-column: span 1;
    grid-row: span 1;
  }
  ._anim-active {
    width: 100%;
    height: 100%;
    background-color: rgba(24, 21, 39, 0.6);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding: 5px;
  }
  ._anim-active p {
    opacity: 1 !important;
    color: rgb(234, 225, 213);
  }
  ._anim-active button {
    opacity: 1 !important;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgb(24, 21, 39);
    background-color: rgba(234, 225, 213, 0.4);
    height: 40px;
    width: 70%;
    max-width: 250px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  ._anim-active button:hover, ._anim-active button:focus, ._anim-active button:target {
    background-color: rgb(24, 21, 39);
    color: rgb(234, 225, 213);
    transform: translateX(-5px) translateY(-5px);
    box-shadow: 10px 10px 10px rgb(24, 21, 39);
  }
  .container__projectspage__list__button {
    width: calc(100% - 20px) !important;
    max-width: 800px !important;
    height: 50px !important;
    font-size: 23px;
    border-radius: 25px !important;
  }
  .container__popup__contentbox {
    margin: 10% 5% 0% 5%;
    width: 90%;
    height: 90%;
    transform: rotate(0deg) translateY(0);
  }
  .container__popup__contentbox__item {
    background-size: contain;
    height: 50%;
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=projects.css.map */